<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
    <!--특정 게시판에 있는 게시글 전체 조회-->
    <select id="selectPostListByBoardId" parameterType="java.lang.Long" resultType="PostDto">
        SELECT p.*, b.display_name AS board_display_name
        FROM post p, board b
        WHERE p.board_id = b.board_id
          AND p.board_id = #{board_id}
        ORDER BY p.post_id
    </select>

    <select id="selectPostByBoardIdAndPostId" parameterType="java.util.Map" resultType="PostDto">
        SELECT p.*, b.display_name AS board_display_name
        FROM  post p, board b
        WHERE p.board_id = b.board_id
        AND p.board_id = #{boardId} AND p.post_id = #{postId}
    </select>

    <insert id="insertPostByPostDto" parameterType="PostDto">
        INSERT INTO post(board_id, post_id, title, display_name, contents, created_date_time)
        VALUES (
                #{boardId},
                   COALESCE(
                           (SELECT MAX(post_id) + 1 FROM post WHERE board_id = #{boardId}), 1
                       )
               , #{title}
               , #{displayName}
               , #{contents}
               , CURRENT_TIMESTAMP
               );
    </insert>

    <update id="updatePostByPostDto" parameterType="PostDto">
        UPDATE  post
        SET     title               = #{title},
                display_name        = #{displayName},
                contents            = #{contents},
                updated_date_time   = CURRENT_TIMESTAMP
        WHERE   board_id            = #{boardId}
        AND     post_id             = #{postId}
    </update>

    <delete id="deletePostByBoardIdAndPostId" parameterType="java.util.Map">
        DELETE
        FROM    post
        where   board_id = #{boardId}
        AND     post_id  = #{postId}
    </delete>

</mapper>